<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Funções Impressao G700/G800</h1>
      </ion-col>
    </ion-row>
    <ion-input type="text" [(ngModel)]="mensagem" id="mensagem" placeholder="Escreva sua mensagem"></ion-input>
    <ion-row>
      <ion-col>
        <ion-button (click)="checarImpressora()">Checar Impressora</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="imprimirTexto()">Imprimir Texto</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="imprimirBarCode()">Imprimir BarCode</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="imprimirImagem()">Imprimir Imagem</ion-button>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="todasFunc()">Todas as Funcoes</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

