<!-- <ion-header [translucent]="false">
</ion-header> -->

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button (click)="codigobarras1()">Código de Barras</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="codbarrasv2()">Código de Barras V2</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="impressao()">Impressão</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="nfcGedi()">NFC Gedi</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="nfcId()">NFC Id</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

  <!-- <ion-item>
    <ion-textarea type="text" [(ngModel)]="temperatura"></ion-textarea>
  </ion-item> -->
</ion-content>

<!-- senha Development@GertecDeveloper2018 -->
